/* header */
.sample-page__header__image-block {
  width: 100%;
  position: relative;
}

.sample-page__header__intro-block {
  position: absolute;
  top: 90%;
}

.header__intro-block__title {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

/* main content */

.sample-page__main-content__block-1 {
  display: inline-block;
  width: 50%;
}

.sample-page__main-content__block-2 {
  display: inline-block;
  width: 50%;
}

.align_left {
  float:left;
}

.align_right {
  float:right;
}

